<div data-hook="admin_legacy_return_authorization_form_fields">
  <table class="index">
    <thead>
      <tr data-hook="legacy_rma_header">
        <th><%= I18n.t('spree.product') %></th>
        <th><%= I18n.t('spree.quantity_shipped') %></th>
        <th><%= I18n.t('spree.quantity_returned') %></th>
        <th><%= I18n.t('spree.return_quantity') %></th>
      </tr>
    </thead>
    <tbody>
      <% @legacy_return_authorization.order.shipments.shipped.collect{|s| s.inventory_units.to_a}.flatten.group_by(&:variant).each do | variant, units| %>
        <tr id="<%= dom_id(variant) %>" data-hook="legacy_rma_row" class="<%= cycle('odd', 'even')%>">
          <td>
            <div class="variant-name"><%= variant.name %></div>
            <div class="variant-options"><%= variant.options_text %></div>
          </td>
          <td class="align-center"><%= units.select(&:shipped?).size %></td>
          <td class="align-center"><%= units.select(&:returned?).size %></td>
          <td class="return_quantity align-center">
            <% if @legacy_return_authorization.received? %>
              <%= @legacy_return_authorization.inventory_units.group_by(&:variant)[variant].try(:size) || 0 %>
            <% elsif units.select(&:shipped?).empty? %>
              0
            <% else %>
              <%= number_field_tag "return_quantity[#{variant.id}]",
                @legacy_return_authorization.inventory_units.group_by(&:variant)[variant].try(:size) || 0, {:style => 'width:100px;', :min => 0} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.field_container :amount do %>
    <%= f.label :amount, I18n.t('spree.amount') %> <span class="required">*</span><br />
    <% if @legacy_return_authorization.received? %>
      <%= @legacy_return_authorization.display_amount %>
    <% else %>
      <%= f.text_field :amount, {:style => 'width:80px;'} %> <%= I18n.t('spree.legacy_rma_value') %>: <span id="legacy_rma_value">0.00</span>
      <%= f.error_message_on :amount %>
    <% end %>
  <% end %>

  <%= f.field_container :reason do %>
    <%= f.label :reason, I18n.t('spree.reason') %>
    <%= f.text_area :reason, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>

  <%= f.field_container :stock_location do %>
    <%= f.label :stock_location, I18n.t('spree.stock_location') %>
    <%= f.select :stock_location_id, Spree::StockLocation.active.to_a.collect{|l|[l.name, l.id]}, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>
</div>

<script>
  var line_item_prices = {};
  <% @legacy_return_authorization.order.line_items.group_by(&:variant).each do | variant, items| %>
    line_item_prices[<%= variant.id.to_s %>] = <%= items.first.price %>;
  <% end %>

  $(document).ready(function(){
    var legacy_rma_amount = 0;
    $("td.return_quantity input").on('change', function() {
      var legacy_rma_amount = 0;
      $.each($("td.return_quantity input"), function(i, input) {
        var variant_id = $(input).prop('id').replace("return_quantity_", "");
         legacy_rma_amount += line_item_prices[variant_id] * $(input).val()
      });

      if(!isNaN(legacy_rma_amount)){
        $("span#legacy_rma_value").html(legacy_rma_amount.toFixed(2));
      }
    })
  });
</script>
