<% content_for :page_actions do %>
  <li>
    <% if @legacy_return_authorization.can_receive? %>
      <%= button_to I18n.t('spree.receive'), fire_admin_order_legacy_return_authorization_url(@order, @legacy_return_authorization, :e => 'receive'), :method => :put, :data => { :confirm => I18n.t('spree.are_you_sure') }, :icon => 'download-alt' %>
    <% end %>
  </li>
  <li>
    <% if @legacy_return_authorization.can_cancel? %>
      <%= button_to I18n.t('spree.actions.cancel'), fire_admin_order_legacy_return_authorization_url(@order, @legacy_return_authorization, :e => 'cancel'), :method => :put, :data => { :confirm => I18n.t('spree.are_you_sure') }, :icon => 'remove' %>
    <% end %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Legacy Return Authorizations' } %>

<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= I18n.t('spree.legacy_return_authorization') %> <%= @legacy_return_authorization.number %> (<%= I18n.t(@legacy_return_authorization.state.downcase) %>)
<% end %>


<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @legacy_return_authorization } %>
<%= form_for [:admin, @order, @legacy_return_authorization] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button_to I18n.t('spree.actions.update'), 'repeat' %>
      <span class="or"><%= I18n.t('spree.or') %></span>
      <%= button_to I18n.t('spree.actions.cancel'), admin_order_legacy_return_authorizations_url(@order), :icon => 'remove' %>
    </div>
  </fieldset>
<% end %>
